  /*レイアウト*/
  .wrapper {
    padding-top: 73px;
  }
  
  .section {
    padding: 90px 0;
  }
  
  .section:nth-of-type(odd) {
    background-color: #f7f7f7;
  }
  
  .container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 40px;
  }

  body {
    font-family: "Montserrat","Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
    font-size: 15px;
    letter-spacing: .05em;
    color: #333;
  }
  
  a {
    transition: opacity .3s;
    text-decoration: none;
    color: #1ca9e3;
  }
  
  img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    border-style: none;
  }
  
  .pc-only {
    display: block;
  }
  
  .sp-only {
    display: none;
  }

  .article {
    padding: 80px 0;
  }
  
  .article-container {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .article-body {
    max-width: 720px;
    margin: 0 auto;
    margin-bottom: 80px;
  }
  
  .article-body h3 {
    position: relative;
    font-size: 18px;
    margin-bottom: 5px;
    padding-left: 1em;
  }
  
  .article-body h3:not(:first-child) {
    margin-top: 50px;
  }
  
  .article-body h3::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    content: "";
    border-radius: 3px;
    background-color: #333;
  }
  
  .article-body p {
    font-size: 15px;
    line-height: 1.8;
    margin-bottom: 30px;
  }
  
  .home-link {
    text-align: center;
  }
  
  /*index*/
  .index-whopper {
    text-align: center;
    width: 100%;
    margin-bottom: 120px;
  }

  .index-whopper-img {
    text-align: center;
    margin-top: 120px;
  }

  .index-img {
    display: block;
    width: 250px;
    height: 250px;
    margin: 0 auto;
  }

  .index-text-name {
    font-size: 34px;
    font-weight: bold;
    line-height: 1;
    margin-top: -6px;
    margin-bottom: 4px;
    text-align: center;
    letter-spacing: .05em;
    color: #448AFF;
  }

  .btn,
  a.btn,
  button.btn {
    font-weight: 650;
    position: relative;
    display: inline-block;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
  }
  
  .btn--orange,
  a.btn--orange {
    color: #fff;
    background-color: #000;
  }
  
  .btn--orange:hover,
  a.btn--orange:hover {
    color: #fff;
    background: #000;
  }
  
  a.btn--radius {
    border-radius: 100vh;
  }

  /* TOP */
  .top-whopper {
    text-align: center;
    width: 1000px;
    margin-bottom: 120px;
  }

.work-whopper {
  display: flex;
  text-align: center;
}
.work-whopper .image {
  width: 460px; /*画像サイズ指定*/
  margin: 0;
  padding-top: 30px;
  overflow: hidden;
  position: relative;
}
.work-whopper .text {
  margin: 0 0 0 20px;
  padding: 0;
}






  /* 見出し */
  h1 {
    margin-bottom: 30px;
    text-align: center;
  }

  .title {
    font-size: 34px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 40px;
    text-align: center;
    letter-spacing: .05em;
    color: #333;
  }
  
  .lead {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 30px;
  }
  
  /* ヘッダー */
  .header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 5px 10px -6px rgba(0,0,0,.1);
  }
  
  .header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
  }

  .gnav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  
  .gnav-item:not(:last-child) {
    margin-right: 10px;
  }
  
  .gnav-item a {
    position: relative;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    padding: 5px 0;
    transition: .3s;
    letter-spacing: .05em;
    color: #333;
  }
  .gnav-item a:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    content: "";
    transition: .3s;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #333;
  }
  
  .gnav-item a:hover:after {
    width: 100%;
  }
  
  /* profile */
  .profile {
    padding: 80px 0;
  }
  
  .profile-container {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .profile-body {
    max-width: 720px;
    margin: 0 auto;
    margin-bottom: 80px;
    display: flex;
    justify-content: center; /* 中央寄せ */
  }
  
  .profile-body h3 {
    position: relative;
    font-size: 18px;
    margin-bottom: 5px;
    padding-left: 1em;
  }
  
  .profile-body h3:not(:first-child) {
    margin-top: 50px;
  }
  
  .profile-body h3::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    content: "";
    border-radius: 3px;
    background-color: #333;
  }
  
  .profile-body p {
    font-size: 15px;
    line-height: 1.8;
    margin-bottom: 10px;
  }

/* 横並び */

.flex {
  display: flex; /*横並び*/
}
.flex .image {
  width: 640px; /*画像サイズ指定*/
  margin: 0;
  padding-top: 30px;
  overflow: hidden;
  position: relative;
}
.flex .text {
  margin: 0 0 0 20px;
  padding: 0;
}

  /* Contact */
  .contact {
    text-align: center;
  }
  
  .contact-item:not(:last-child) {
    margin-right: 10px;
  }
  
  .contact-text {
    margin-top: 10px;
  }
  
  /* フッター */
  .footer {
    padding: 20px;
    background-color: #222;
  }
  
  .copyright {
    font-size: 10px;
    text-align: center;
    color: #797979;
  }
  
  /*media Queries 767
  ----------------------------------------------------*/
  @media screen and (max-width: 767px) {
    body {
      font-size: 14px;
    }
  
    .pc-only {
      display: none;
    }
  
    .sp-only {
      display: block;
    }
  
    /* 見出し */
    .title {
      font-size: 26px;
      margin-bottom: 20px;
    }
  
    .lead {
      font-size: 14px;
      line-height: 1.7;
      margin-bottom: 20px;
    }
  
    /* レイアウト */
    .wrapper {
      padding-top: 57px;
    }
  
    .section {
      padding: 60px 0;
    }
  
    .container {
      padding: 0 20px;
    }
  
    /* ヘッダー */
    .header .container {
      padding: 15px;
    }
  
    .header-logo {
      font-size: 15px;
      margin-right: 15px;
    }
  
    .gnav-item:not(:last-child) {
      margin-right: 10px;
    }
  
    .gnav-item a {
      font-size: 10px;
    }
  
    .gnav-item a:after {
      display: none;
    }
  
    /*  メインビジュアル */
    .mv {
      height: 75vh;
    }
  
    .mv-container {
      padding: 0 20px;
    }
  
    .mv-title {
      font-size: 30px;
    }
    .mv-subtitle {
      font-size: 16px;
      margin-bottom: 20px;
    }
  
    .mv-text {
      font-size: 14px;
      line-height: 1.7;
    }
  
    /* Works */
    .works-name {
      font-size: 12px;
    }
  
    .works-info {
      margin-top: 3px;
    }
  
    .works-list {
      justify-content: space-between;
    }
  
    .works-item {
      flex: 0 0 48%;
      margin-right: 0;
      margin-bottom: 30px;
    }
  
    /* Skill */
    .skill-list {
      display: block;
      margin-bottom: 0;
    }
  
    .skill-item {
      width: 100%;
      margin-bottom: 35px;
    }
  
    .skill-item:last-child {
      margin-bottom: 0;
    }
  
    .skill-name {
      margin-bottom: 5px;
    }
  
    .skill-text {
      font-size: 13px;
      line-height: 1.7;
    }
  
    /* About */
    .profile {
      display: block;
    }
    .profile-img {
      width: 150px;
      margin: 0 auto;
      margin-bottom: 25px;
    }
  
    .profile-body p {
      font-size: 14px;
      line-height: 1.7;
    }
  
    .profile-body p:not(:last-child) {
      margin-bottom: 20px;
    }
  
    /* フッター */
    .footer {
      padding: 20px;
    }
  
    /* 下層ページ */
    .article {
      padding: 50px 0;
    }
  
    .article-body h3 {
      font-size: 16px;
      padding-left: .8em;
    }
  
    .article-body h3:not(:first-child) {
      margin-top: 30px;
    }
  
    .article-body p {
      font-size: 14px;
      line-height: 1.7;
      margin-bottom: 20px;
    }
  }
  