@charset "UTF-8";
/* CSS Document */

* { margin: 0; padding: 0; }
img{vertical-align:bottom;}
ul{list-style-type: none;}
a:link {
color:white;
text-decoration: none;
}


.cf::after {
  content: "";
  clear: both;
  display: block;
}


div.wrapper{
width: 1000px;
margin: 0 auto;
}

header {
background-color:#72002B;
color: white;
padding: 20px;
height: 100px;
}



nav.gnavi {
	background: url(../images/back.jpg) repeat-x;
}
nav.gnavi ul li { float: left; }

nav.gnavi ul li a { 
	display: block;
	width: 240px;
	height: 40px;
	background-position: 0 0;
	background-repeat: no-repeat;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
}

nav.gnavi ul li:last-child a {
	border-right: none;
}



nav.gnavi ul li a:hover { 
	display: block;
	width: 240px;
	height: 40px;
	background-position: 0 0;
	background-repeat: no-repeat;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
}




nav.gnavi ul li a.menu1 { background-image: url(../images/icon6.png); }
nav.gnavi ul li a.menu2 { background-image: url(../images/icon7.png); }
nav.gnavi ul li a.menu3 { background-image: url(../images/icon8.png); }
nav.gnavi ul li a.menu4 { background-image: url(../images/icon9.png); }


nav.gnavi ul li a.menu1:hover { background-image: url(../images/icon10.png); }
nav.gnavi ul li a.menu2:hover { background-image: url(../images/icon11.png); }
nav.gnavi ul li a.menu3:hover { background-image: url(../images/icon12.png); }
nav.gnavi ul li a.menu4:hover { background-image: url(../images/icon13.png); }




dl.list{margin-top: 10px;}


dl.list dt{
margin-top: 10px;
float: left;
width: 8em;

}

dl.list dd{
padding: 10px 0 10px 10em;

}

  

.sample5 {
	width:			280px;
	height:			188px;
	overflow:		hidden;
	margin:			10px 8px 10px 16px;
	position:		relative;
}
.sample5 .caption {
	font-size:		130%;
	color:			#fff;
	padding-top:		80px;
	padding-left:		100px;
}
.sample5 .mask {
	width:			100%;
	height:			100%;
	position:		absolute;
	top:			0;
	left:			0;
	background-color:	rgba(0,0,0,0.4);
	-webkit-transition:	all 0.4s ease;
	transition:		all 0.4s ease;
	-webkit-transform:	scale(0);	/* 大きさを０にして表示しない */
	transform:		scale(0);
}
.sample5:hover .mask {
	-webkit-transform:	scale(1);	/* 大きさを１にして表示する */
	transform:		scale(1);
}





.box{
padding : 20px ;
margin: 0px auto;
		}

.box2{
padding : 20px ;
margin: 0px auto;
text-align: center
		}
		

		
         .box2     {text-align:center;}
         table   {margin-left:auto;margin-right:auto;border-collapse: collapse;}
         caption {margin-left:auto;margin-right:auto;}
         
         
         
         
         


h1 {
  padding: .50em 0;
  border-top: 5px solid #72002B;
  border-bottom: 5px solid #72002B;
	text-align:center
}


.media {
    background: #FFF;
    padding: 10px;
    overflow: hidden;
}
.media__image {
    float: left;
    margin-right: 10px;
}
.media__summary {
    overflow: hidden;
}



.footerlink{text-align:left;}


footer {
	background-color: #72002B;
	color: white;
	padding: 10px;
	height: 50px;
	text-align: right;
	font-size: 80%;
}


