@charset "UTF-8";
/* CSS Document */
@import url(reset.css);

/* Basic */
img {
	vertical-align: bottom;
}

main {
	display: block;
}

a {
	text-decoration: none;
}

.cf:after {
	content: "";
	clear: both;
	display: block;
}

body {
	background-image: linear-gradient(to top, #002B40 0%, #0454af 50%, #8adee6 100%);
	background-size: cover;
	margin: 0;
	padding: 0;
	color: #EAF4FC;
}

h1 {
	font-size: 64px;
	color: #EAF4FC;
	font-weight: 900;
	font-family: 'Grape Nuts', cursive;
}

h2 {
	font-size: 42px;
	color: #EAF4FC;
	font-weight: 900;
}

h3 {
	margin: 10px 0 20px 0;
	font-size: 24px;
	font-weight: 900;
	line-height: 1.5;
	color: #EAF4FC;
}

h4,
h5,
h6 {
	font-weight: 900;
	line-height: 1.5;
	margin: 10px 0 20px 0;
	text-transform: uppercase;
	letter-spacing: 0.35em;
	color: #EAF4FC;
}

/* header */
header {
	width: 100%;
	background-color: rgba(13, 13, 14, 0.6);
}

.header-wrapper {
	margin: 0 24px 24px 75px;
	padding: 82px 14px 16px 14px;
}

header p {
	margin: 0 24px 24px 75px;
	padding: 42px 14px 16px 14px;
}

/* main */
.work-about-wrapper {
	margin: 64px auto 24px auto;
	text-align: center;
}

.work-about-text {
	margin: 14px 24px 24px 24px;
	padding: 16px 14px 16px 14px;
	text-align: center;
	color: #EAF4FC;
}

.work-wrapper {
	margin: 0 55px 65px 55px;
	display: grid;
	gap: 15px;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.work-box {
	border-radius: 10px;
	background-color: rgba(13, 13, 14, 0.6);
	padding: 24px 55px 24px 55px;
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}

.work-box-text {
	margin: 0 auto;
	padding: 22px 12px 22px 12px;
	text-align: left;
	color: #EAF4FC;
}

.list {
	margin: 0 10px 34px 10px;
}

ul {
	padding: 0;
	font: 14px/1.6 'arial narrow', sans-serif;
	width: 300px;
	list-style: none;
}

ul li {
	position: relative;
	padding: 7px 5px 7px 10px;
	margin-bottom: 5px;
	background: #EAF4FC;
	color: #002B40;
	font-weight: bold;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

/* ボタンリンク */
.work-link-wrapper {
	margin: 10px;
}

.button-link a {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
	max-width: 240px;
	padding: 15px 25px;
	color: #EAF4FC;
	transition: 0.3s ease-in-out;
	font-weight: 600;
	background: #3F83A6;
	border-radius: 8px;
	border: 4px solid currentColor;
	border-color: #EAF4FC;

	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	box-sizing: border-box;
}

.button-link a:after {
	position: absolute;
	top: 50%;
	right: 1em;
	width: 0.5em;
	height: 0.5em;
	transform: translateY(-50%) rotate(45deg);
	border-right: 2px solid currentColor;
	border-top: 2px solid currentColor;
	content: "";
}

.button-link a:hover {
	background-color: #002B40;
}

/* footer */
footer {
	width: 100%;
	padding: 14px 0 14px 0;
	background-color: rgba(13, 13, 14, 0.6);
}

footer p {
	color: #EAF4FC;
}

.profile-wrapper {
	margin: 14px 55px 14px 75px;
	padding: 24px 14px 16px 14px;
}

.profile-text {
	color: #EAF4FC;
	margin: 14px auto;
	padding: 12px auto;
	line-height: 2.0;
}

.footer-wrapper {
	margin: 0px 55px 14px 75px;
	padding: 24px 14px 16px 14px;
}

.sns-wrapper {
	margin: 14px auto;
}

.sns {
	fill: #EAF4FC;
	margin: 0 0 0 10px;
}