@charset "UTF-8";
/* CSS Document */
@import url(reset.css);

/* Basic */
img {
	vertical-align: bottom;
}

main {
	display: block;
}

a {
	text-decoration: none;
}

.cf:after {
	content: "";
	clear: both;
	display: block;
}

body {
	background-image: url("../../images/backimage.png");
	background-size: cover;
	background-color: #202124;
	margin: 0;
	padding: 0;
	color: #F4FBFE;
}

h1 {
	font-size: 64px;
	color: #F4FBFE;
	font-weight: bolder;
	font-family: 'Grape Nuts', cursive;
}

h2, h3, h4, h5, h6 {
	font-weight: 900;
	line-height: 1.5;
	margin: 20px 0 20px 0;
	text-transform: uppercase;
	letter-spacing: 0.35em;
	color: #F4FBFE;

}

h2 {
	font-size: 1em;
}



/* header */
.header-wrapper {
	margin: 0px 55px 14px 75px;
	padding: 82px 14px 16px 14px;
}

header p {
	margin: 36px 24px 24px 24px;
	padding: 16px 14px 16px 14px;	
	color: #F4FBFE;
}

/* main */
.work-wrapper {
	margin: 0 55px 65px 55px;
	display: grid;
	gap: 15px;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.work-box {
	border-radius: 10px;
	background-color:rgba(13,13,14,0.6);
	padding: 55px;
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}

p {
	text-align: left;
	color: #F4FBFE;
}

/* footer */
footer {
	width: 100%;
	padding: 24px 0 24px 0 ;
	background-color:rgba(13,13,14,0.6);
}

footer p {
	color: #F4FBFE;
}

.profile-wrapper {
	margin: auto 0;
	padding: 14px 14px 16px 14px;
}

.footer-wrapper {
	margin: auto 0;
	padding: 24px 14px 16px 14px;
}